:host {
  --border-radius-medium: 8px;
  --border-width: 1px;
  --button-alignment: center;
  --button-background-color-active: color-mix(in srgb, currentColor 21%, transparent);
  --button-background-color-hover: color-mix(in srgb, currentColor 14%, transparent);
  --button-background-color: color-mix(in srgb, currentColor 7%, transparent);
  --button-border-color-active: var(--button-border-color);
  --button-border-color-hover: var(--button-border-color);
  --button-border-color: transparent;
  --button-border-radius: var(--border-radius-medium);
  --button-border: var(--border-width) solid var(--button-border-color);
  --button-font-size: var(--font-size-root);
  --button-font-weight: var(--font-weight-semibold);
  --button-min-height: var(--size-item-large);
  --button-padding: var(--space-xsmall) var(--space-large);
  --button-text-color-active: var(--button-text-color);
  --button-text-color-hover: var(--button-text-color);
  --button-text-color: light-dark(var(--color-gray-100), var(--color-gray-05));
  --color-gray-05: #fbfbfe;
  --color-gray-100: #15141a;
  --color-violet-0: oklch(97% 0.05 290);
  --color-violet-30: oklch(76% 0.2 290);
  --color-violet-80: oklch(41% 0.17 290);
  --color-violet-90: oklch(34% 0.14 290);
  --dimension-56: 56px;
  --font-size-root: 15px;
  --font-weight-semibold: 600;
  --promo-background-color: light-dark(var(--color-violet-0), var(--color-violet-90));
  --promo-border-color: var(--color-violet-30);
  --promo-border-radius: var(--border-radius-medium);
  --promo-border-width: var(--border-width);
  --promo-border: var(--promo-border-width) solid var(--promo-border-color);
  --promo-container-min-height: var(--dimension-56);
  --promo-message-text-color: light-dark(var(--color-violet-80), var(--color-violet-0));
  --size-item-large: 32px;
  --space-large: calc(4 * var(--space-xsmall));
  --space-small: calc(2 * var(--space-xsmall));
  --space-xsmall: 0.267rem;
}
